
/* HEADER */

header>div {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    width: fit-content;
    font-size: 24px;
    
}
@media (min-width: 1192px) {
    header>div{
        padding: 40px 70px;
    }
}

@media (max-width: 1191px) {
    header>div{
        padding: 3% 70px;
    }
}


/* MAIN */

main > div {
    font-family: 'Space Mono', monospace;
    max-width: fit-content;
}

@media (min-width: 1192px) {
    main > div {
        display: flex;
        flex-wrap: wrap;
        margin: 100px auto;
    }
    
    #left {
        padding-right: 70px;
    }
}

@media (max-width: 1191px) {
    main > div {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#left>img {
    max-width: 500px;
}

@media (max-width: 567px) {
    #left>img{
        width: 88%;
    }
    #left>img{
        padding: 0px;
        margin: 0px;
    }
}

#right>h1 {
    font-weight: 700;
    font-size: 64px;
    margin: 0px;
    max-width: 590px;
    line-height: 95px;
}

#right>p {
    font-weight: 400;
    font-size: 24px;
    color: #4F4F4F;
    width: fit-content;
}

#right>button {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #333333;
    font-size: 14px;
    width: 216px;
    height: 68px;
    margin: auto;
    margin-top: 30px;
    border: none;
}



/* FOOTER */

footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;
    color: #BDBDBD;
    width: fit-content;
    margin: 0px auto;
}

footer>a {
    font-weight: 700px;
    color: #BDBDBD;
}
@media (min-width: 1192px) {
    footer {
        margin-top: 300px;
    }
}
@media (max-width: 1191px) {
    footer {
        margin-top: 20px;
    }
}